.Calendar__day {
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 50px 10px;
  display: flex;
  height: 120px;
  justify-content: center;
  padding: 20px;
}

.puzzleButton {
  background-image: url("../images/cupcakes.png");
  border: none;
  height: 115px;
  outline: none;
  width: 120px;
}

.enabled .puzzleButton {
  cursor: hand;
}

.disabled .puzzleButton {
  opacity: .3;
}

.puzzleButton__one {
  background-position: 0 0px;
}

.puzzleButton__two {
  background-position: 0 -117px;
}

.puzzleButton__three {
  background-position: 0 -226px;
}

.puzzleButton__four {
  background-position: 0 -449px;
  height: 128px;
}

.puzzleButton__five {
  background-position: 0 -333px;
}

.puzzleButton__six {
  background-position: 0 -577px;
  height: 108px;
}

.puzzleButton__seven {
  background-position: 0 -685px;
  height: 132px;
}

.puzzleButton__eight {
  background-position: 0 -815px;
}
