.Calendar__day {
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 50px 10px;
  display: flex;
  height: 170px;
  justify-content: center;
}

.puzzleButton {
  background-size: cover;
  border: none;
  border-radius: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}

.enabled .puzzleButton {
  cursor: hand;
}

.disabled .puzzleButton {
  opacity: .3;
}
