.Calendar {
  display: grid;
  grid-gap: 20px;
  width: 100%;
}

.Calendar--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.Calendar--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.Calendar--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.Calendar--7-cols {
  grid-template-columns: repeat(7, 1fr);
}

.Calendar__header {
  background-color: #9370db;
  border: 1px solid transparent;
  border-radius: 50px 10px;
  color: #fff;
  font-size: 1.5em;
  padding: 5px;
  text-align: center;
}
